*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#edf2fc;
    --secondary-color: #212121;

   
}

.dark-theme{
    --primary-color:rgb(0, 0, 0);
    --secondary-color: #fff;
}

#icon{
    width: 40px;
    cursor: pointer;
    background: #7e7272;
    border-radius: 50px;
   }

   
  nav ul{
    flex: 1;
    text-align: right;
  } 

.hero{
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

nav{
    width: 84%;
    /* background: #ff4321; */
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 60px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}



nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a:hover{
    color: #ff4321;
}

.info{
    margin-left: 8%;
    margin-top: 15%;
}

.info h1{
    font-size: 40px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

span{
    color: #ff4321;
}

.info p{
    color: var(--secondary-color);
    line-height: 22px;
}


.info a{
    background: var(--secondary-color);
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: all ease 300ms;
}

.info a:hover{
    background: #ff4321;
}



.img-box img{
    width: 40%;
    height: 80%;
    position: absolute;
    /* top: 10px; */
    bottom: 0;
    right: 100px;
    transition: bottom 1s,left 1s;
}
 

.img-box:hover .back-img{
    bottom: 40px;
    
}



/* .img-box img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s,left 1s;
}  */



.social-links{
    margin-left: 8%;
    margin-top: 60px;
}

.social-links a{
    font-size: 20px;
    color: var(--secondary-color);
    margin-right: 20px;
}

.social-links a:hover{
    color: #ff4321;
}





@media screen and (max-width: 768px) {
    .img-box img{
        width: 10%;
        height: 40%;
        position: absolute;
        /* top: 10px; */
        bottom: -150px;
        /* right: 100px; */
        /* transform: translateX(50%); */
        /* transition: bottom 1s,left 1s; */
    }
    
  }